@import "../utilities/variables";
/* GALERIA DE FOTOS */
.picsgalleryhtml__container {
    margin-top: -15vh;
    padding-bottom: 25vh;
}

.picshtml__gallery {
    overflow: auto;
    background-color: $color-darkPrimary;
    width: 100%;
    height: 350px;
    margin: auto;
    filter: $shadow-img;

    img {
        width: 100%;
        height: auto;
    }

    @media (min-width: $tablet-md) {
        width: 100%;
        height: 1000px;
        margin: auto;
    }
}
