@import "../utilities/variables";

// Tipografias
h1 {
    font-size: 25px;
    color: $color-black;
    padding: 10px;

    @media (min-width: $tablet-md) {
        font-size: 40px;
    }
}

h1,
h2,
h3 {
    font-family: $gotic;
    text-align: center;
    text-shadow: $shadow-light;
}

h2,
h3 {
    font-size: 20px;

    @media (min-width: $tablet-md) {
        color: $color-black;
        font-size: 25px;
    }
}

p {
    color: $color-callToAction;
    font-size: 15px;
    font-family: $artistic;
    text-align: center;
    text-shadow: $shadow-darkText;

    @media (min-width: $tablet-md) {
        font-size: 25px;
    }
}

img {
    width: 200px;
    height: 200px;
    padding: 5px;
    filter: $shadow-img;

    @media (min-width:768px) {
            width: 250px;
            height: 250px;
            padding: 5px;
    }
}

span {
    font-size: 15px;
    color: $color-callToAction;
    text-shadow: $shadow-light;

    @media (min-width: $tablet-md) {
        font-size: 30px;
    }
}

